body {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: 'raspoutine';
  src: url('fonts/raspoutine_medium_italic.eot');
  src: url('fonts/raspoutine_medium_italic.eot?#iefix') format('embedded-opentype'), url('fonts/raspoutine_medium_italic.woff') format('woff'), url('fonts/raspoutine_medium_italic.ttf') format('truetype'), url('fonts/raspoutine_medium_italic.svg#raspoutine_medium_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.raspoutine {
  font-family: raspoutine;
}
@font-face {
  font-family: 'basic';
  src: url('fonts/basictitlefont-webfont.eot');
  src: url('fonts/basictitlefont-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/basictitlefont-webfont.woff') format('woff'), url('fonts/basictitlefont-webfont.ttf') format('truetype'), url('fonts/basictitlefont-webfont.svg#basictitlefont-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
.basic {
  font-family: basic;
}
header {
  width: 100%;
  float: left;
  text-align: center;
  padding-top: 40px;
}
header .logo {
  width: auto;
  position: relative;
  margin-bottom: -10px;
}
header h1 {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
  font-family: raspoutine;
  color: #333;
  font-weight: 100;
  font-size: 30px;
  border-top: 5px solid #DDD;
  border-bottom: 2px solid #DDD;
  padding: 8px 0px 8px 0px;
  margin: 0px 0px 50px 0px;
}
h2 {
  font-family: raspoutine;
  color: #FF0D80;
  font-size: 28px;
  font-weight: 550;
  margin: 8px 0px 10px 0px;
}
#introduction {
  width: 540px;
  margin: 0 auto;
  clear: both;
  background: #F7F7F7;
  padding: 20px 30px 30px 30px;
  text-align: center;
  font-family: raspoutine;
  font-size: 16px;
  color: #959595;
  line-height: 24px;
}
#introduction a {
  color: #00E4FF;
}
#introduction .author {
  text-decoration: none;
}
.heading {
  width: 100%;
  text-align: center;
  margin: 30px 0px 0px 0px;
}
.heading h3 {
  display: inline;
  font-family: basic;
  font-size: 38px;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #FF0D80;
}
.heading .note {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #999999;
}
main {
  width: 610px;
  margin: 0 auto;
}
.example-form {
  width: 100%;
  float: left;
}
.example-form li {
  width: 100%;
  float: left;
  height: 37px;
  margin: 1px 0px 1px 0px;
  line-height: 37px;
}
.example-form li label {
  font-size: 23px;
  color: #333;
  font-family: basic;
  width: 150px;
  float: left;
  display: block
      margin:0px 15px 0px 0px;
  text-align: right;
}
.example-form li label small {
  font-family: raspoutine;
  font-size: 15px;
  font-style: italic;
  float: left;
  margin-top: 4px;
}
.example-form li input[type=text],
.example-form li input[type=password] {
  width: 400px;
  padding: 0px 15px 0px 15px;
  float: right;
  margin: 0px 10px 0px 0px;
  height: 36px;
  border: 1px solid #999999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -ms-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
.example-form li input[type=text]:hover,
.example-form li input[type=password]:hover {
  background-color: #EEE;
}
.example-form .confirmation {
  width: auto;
  float: right;
  margin: 20px 0px 0px 0px;
  height: auto;
}
.example-form .confirmation label {
  font-family: raspoutine;
  font-size: 16px;
  color: #333;
}
.example-form .confirmation input[type=checkbox] {
  margin-left: 10px;
}
.example-form .submit {
  text-align: right;
  padding-bottom: 50px;
}
.example-form .submit input[type=submit] {
  width: auto;
  float: right;
  background-color: #FF0D80;
  font-family: basic;
  font-size: 41px;
  color: #FFF;
  padding: 4px 10px 4px 10px;
  border: 0px;
  cursor: pointer;
  margin-top: 0px;
  -webkit-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -ms-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
.example-form .submit input[type=submit]:hover {
  background-color: #c0005b;
}
.example-form .line {
  height: 1px !important;
  float: left;
  line-height: 0px;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px dotted #CCC;
}
.example-form .instruction {
  height: 43px;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-family: raspoutine;
  color: #333;
}
.example-form .instruction span {
  font-size: 25px;
  color: #FF0000;
}
#sf-error-box {
  font-family: raspoutine;
  font-size: 13px;
}
body {
  margin: 0px;
  padding: 100px 0px 0px 0px;
}
ul {
  list-style-type: none;
}
#example-form-cont {
  width: 500px;
  margin: 0 auto;
}
.example-form {
  width: 100%;
  float: left;
}
.example-form li {
  width: 100%;
  float: left;
  padding: 8px 0px 8px 0px;
}
.example-form li label {
  width: 135px;
  float: left;
}
.example-form li input[type=text],
.example-form li input[type=password] {
  width: 355px;
}
.example-form li input[type=submit] {
  width: auto;
  float: right;
  margin-top: 20px;
}
